beautifulsoup4==4.11.1
dash==2.4.1
dash_html_components==2.0.0
newsapi==0.1.1
newsapi_python==0.2.6
numpy<1.22.3
pandas<1.4.1
Pillow==9.1.0
plotly==5.6.0
pycountry==22.3.5
python_dateutil==2.8.2
regex==2022.3.15
requests==2.27.1
scikit_learn<1.1.0
streamlit==1.7.0
yfinance==0.1.70
